@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Regular.woff') format('woff');
}

body {
    font-family: 'Fira Code';
    background: #FAFBFF;
}

.me-avatar {
    height: 200px;
    width: 200px;
}

.intro h1 {
    color: #16202C;
}

.intro h3 {
    color: #EC284C;
}

.intro img {
    vertical-align: middle;
}

.intro ul li a {
    color: #16202C;
    font-size: 2em;
}